name: Deploy Blog to GitHub Pages

on:
  push:
    branches: ["main"]
  schedule:
    - cron: '0 2 * * *'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - name: Checkout source code
      uses: actions/checkout@v4
      with:
        submodules: true 
    
    - name: Setup Node.js
      uses: actions/setup-node@v6
      with:
        node-version: '24'
        cache: 'npm'
        
    - name: Install dependencies
      run: |
        npm install -g hexo-cli
        npm install
        
    - name: Generate static files
      run: |
        hexo generate
        
    - name: Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./public
        publish_branch: gh-pages
        force_orphan: true  
